.add_newUser__block {
	padding: 15px 0;
	width: 100%;
	background-color: #000;
	padding-bottom: 40px;
	padding-top: 20px;
	.had {
		font-size: 24px;
		color: #fff;
		width: 100%;
		max-width: 725px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	form {
		width: 100%;
		max-width: 725px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	input,
	textarea,
	select {
		outline: none;
		border: 1px solid #fff;
		width: 100%;
		background-color: inherit;
		padding: 5px 10px;
		color: #fff;
		margin-top: 15px;
		&::-webkit-input-placeholder {
			color: #fff;
		}
	}
	select {
		width: calc(50% - 15px);
	}
	button {
		max-width: 120px;
		width: 100%;
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
		padding: 5px 10px;
		outline: none;
		margin-top: 15px;
		font-size: 18px;
	}
}
@media (max-width: 991px) {
	.add_newUser__block {
		padding: 0 15px;
		padding-bottom: 40px;
		padding-top: 20px;
	}
}
@media (max-width: 767px) {
	.add_newUser__block {
		select {
			max-width: 320px;
			margin: 0 auto;
			margin-top: 15px;
			width: 100%;
		}
		button {
			max-width: 320px;
			width: 100%;
			margin: 0 auto;
			margin-top: 30px;
			display: block;
		}
	}
}
