.user_item {
	td {
		border: 1px solid #fff;
		color: #fff;
		padding: 5px;
	}
	.avatar {
		img {
			width: 60px;
			height: 60px;
			object-fit: cover;
		}
	}
	.navigation {
		a {
			text-decoration: none;
			color: #fff;
		}
		span {
			cursor: pointer;
			opacity: 0.7;
			width: 33.33%;
			height: 14px;
			position: relative;
			transition: all ease 400ms;
			&:before {
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
			&:hover {
				opacity: 1;
				transition: all ease 400ms;
			}
		}
	}
}
